@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,160,181,1) 53%, rgba(9,9,121,1) 100%);
  min-height: 100vh;
}

h1 {
  text-align: center; 
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

select {
  font-family: 'Lato', sans-serif;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #e6f7ff; 
  font-size: 16px;
  color: #000000;
  outline: none;
  margin-bottom: 20px;
  width: 350px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
 
  
}

select:hover {
  background-color: #d9f0ff; 
}

select:focus {
  border-color: #66b3ff; 
  box-shadow: 0 0 5px rgba(102, 179, 255, 0.5);
}

.candidatos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.candidatos div {
  width: 350px;
  height: 500px;
  background-color: #a8a8a8;
  border-radius: 10px;
  position: relative;
}

.candidatos img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz com que a imagem preencha o card mantendo a proporção */
  border-radius: 10px; /* Aplica o border-radius também à imagem */
}

.candidatos #facebook, .candidatos #instagram {
  position: absolute;
  width: 60px;
  height: 60px;
  
 

  
}

.candidatos #instagram {
  top: 87%;
  left: 30%;
}

.candidatos #uniqueIcon {
  width: 70px;
  height: 70px;
  top: 82%;
  left: 49%;
}

.candidatos #facebook {
  top: 87%;
  left: 50%;
}

.candidatos #nomeUrna, 
.candidatos #numeroUrna, 
.candidatos #nomeCompleto, 
.candidatos #cidade, 
.candidatos #partidoSigla {
 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 3px rgba(219, 214, 214, 0.7); /* Sombra no texto para melhorar a legibilidade */
}


.candidatos #nomeUrna {
  position: absolute;
  margin-top: 35px;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  padding-left: 5%;       
  padding-right: 5%;      
  width: 90%;             
  text-align: center;
  overflow: hidden;       
  text-overflow: ellipsis; 
  font-size: 17.5px;
  word-wrap: break-word;
}

.candidatos #numeroUrna {
  margin-top: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  transform: translateX(-50%); 
  font-weight: 900;
}

.candidatos #nomeCompleto {
  margin-top: 45px;
  position: absolute;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  top: 60%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%); 
  font-weight: 400;
}

.candidatos #cidade {
  margin-top: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%; 
}

.candidatos #partidoSigla {
  margin-top: 55px;
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%);
  font-weight: 400;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

footer {
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}


@media (max-width: 768px) {
  .candidatos {
    flex-direction: column;
    align-items: center;
  }

  .candidatos div {
    width: 90%;
    margin-bottom: 20px;
  }

  footer {
    font-size: 12px; 
    padding: 8px; 
    position: relative;
    margin-top: auto;
  }

} 